apiVersion: v1
kind: Secret
metadata:
  name: database-secret
  namespace: default
type: Opaque
data:
  MYSQL_ROOT_PASSWORD: cm9vdF9wYXNzd29yZA==  
  MYSQL_USER: dXNlcg==                    
  MYSQL_PASSWORD: cGFzc3dvcmQ=             
